body {
  margin: 0;

}

h1 {
  color: black
}

h1 {
  background-color: white;
  font-size: 40px;
}

h2 {
background-color: white;
font-size: 20px;
}
h3 { 
background-color: white;
font-size: 20px;
}
h4 {
background-color: white;
font-size: 20px;
}
html {
  font-family: 'Times New Roman', Times, serif
}

html {
  background-color:burlywood; 
  margin:auto; 
}

p {
  font-size: 60%;
  font-size: medium;
}

.container {
  max-width: 800px;
  margin: 0px;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.column {
  flex: 2;
  padding: 0px;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color:rgb(197, 147, 82);
  justify-content: flex-end;
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}

.img-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: block;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;


  }
}
.centrado {
text-align: center;
}

.containersettings {
font-size: 20px;

}
